* {
  box-sizing: border-box; }

html {
  background: #eee;
  height: 100%; }

body {
    font-family: "Lato", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400; }

.container {
  width: 1105px;
  margin: 0 auto; }

.encabezado {
  height: 60px;
  margin-top: 24px; }

.encabezado__titulo {
  float: left; }
  .encabezado__titulo h1 {
    font: 700 22px/1.4em "Lato", Helvetica, sans-serif;
    letter-spacing: 3px;
    margin: 0px;
    color: #2A4690; }

.encabezado__audio {
  float: right; }
  .encabezado__audio span {
    font-size: 14px;
    color: #2A4690;
    font-weight: 300;
    letter-spacing: 2px; }

/*-------- toogle --------*/
.toogle-container {
  display: inline-block;
  height: 70px;
  width: 105px;
  position: relative;
  top: 12px; }

.toggle {
  height: 30px;
  margin: 5px auto;
  width: 70px; }

.toggle-on.active {
  text-indent: 16px !important; }

.toggle-off.active {
  text-indent: 27px !important; }

/*------- Contenedor --------*/
#contenedor {
    width: 1100px;
    height: 710px;
    border: 0px solid #444;
    margin: 20px auto;
    background: url('../images/background.png') no-repeat top left #fff;
    overflow: hidden;
    position: relative;
}

#contenedor.resultados {
    background: url('../images/bgresultados.png');
}

/*------- Preguntas ---------*/
#preguntas {
  position: relative;
  width: 1100px;
  height: 700px; }

.opcion {
  display: none; }



.question {
  width: 484px;
  height: 58px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 89px;
  top: 270px; }
  .question p {
    padding: 0px 12px;
    margin: 0px 0 0;
    font: bold 18px/1.2em 'Lato',Helvetica,Arial, sans-serif;
    text-align: center;
    color: #444; }

.respuesta {
  position: absolute;
  width: 484px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
  .respuesta:hover {
    cursor: pointer;
  }
  .respuesta p {
    font: 400 16px/1.2em 'Lato',sans-serif;
    line-height: 26px;
    color: #444;
    padding: 0px; }
    .respuesta p:hover {
      color: #114B8D;
      cursor:pointer;
    }
    .respuesta p span {
      font-weight: bold;
      margin-right: 12px;
      width: 23px;
      height: 26px;
      display: inline-block;
      color: transparent;
      background: url('../images/bombillo_seleccion.png') top left no-repeat; }

.respuesta.uno {
  top: 345px;
  left: 89px; }

.respuesta.dos {
  top: 401px;
  left: 89px; }

.respuesta.tres {
  top: 457px;
  left: 89px; }

.respuesta.cuatro {
  top: 512px;
  left: 89px; }

.respuesta.cinco {
  top: 572px;
  left: 89px; }


.buena p, .buena p span {
    color: #31b744; }
  .buena p span {
    background: url('../images/bombillo_seleccion_bn.png'); }


.mala p, .mala p span {
    color: #c83818; }
  .mala p span {
    background: url('../images/bombillo_seleccion_mal.png'); }

.question2 {
    position: absolute;
    width: 484px;
    height: 206px;
    left: 89px;
    top: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .question2 p {
      padding: 0px 12px;
      margin: 0px 0 0;
      font: 400 22px/1.2em 'Lato',Helvetica,Arial, sans-serif;
      text-align: center;
      color: #444; }

.respuesta2 {
    position: absolute;
    width: 184px;
    height: 37px;
}
    .respuesta2:hover {
        opacity: .7;
        cursor: pointer;
    }
    .respuesta2 p {
      font: 400 16px/1.2em 'Lato',sans-serif;
      color: #444;
      padding: 0px 24px; }
      .respuesta2 p span {
        font-weight: bold;
        padding-right: 4px; }

    .respuesta2.uno {
        left: 115px;
        top: 541px;
    }

    .respuesta2.dos {
        left: 364px;
        top: 541px;
    }
/* Cinta de numeros */
.circulo {
  position: absolute;
  width: 43px;
  height: 43px;
}

.c0 {
  left: 190px;
  top: 660px;
  /*background: url('../images/r1.png');*/
}

.c1 {
  left: 251px;
  top: 660px;
  /*background: url('../images/r2.png');*/
}

.c2 {
  left: 312px;
  top: 660px;
  /*background: url('../images/r3.png');*/
}

.c3 {
  left: 373px;
  top: 660px;
  /*background: url('../images/r4.png');*/
}

.c4 {
  left: 434px;
  top: 660px;
  /*background: url('../images/r5.png');*/
}

.circulo.gano {
  background: url("../images/boton_bien.png") center center no-repeat; }
.circulo.perdio {
    background: url("../images/boton_mal.png") center center no-repeat; }

/* Personaje */
#personaje {
  position: absolute;
  left: 596px;
  top: 74px;
  width: 446px;
  height: 634px;
  background-image: url("../images/sprite_personaje.png");
  background-repeat: no-repeat;
  line-height: 634px; }

#personaje.default {
  background-position: 0px 0; }

#personaje.perdio {
  background-position: -446px 0; }

#personaje.gano {
  background-position: 0px 0; }

#resultados {
  position: relative;
  width: 1104px;
  height: 712px;
  background: url('../images/background-puntaje.png') top left no-repeat;
}

.estadistica {
  color: #000; }


  .estadistica__puntaje {
    position: absolute;
    left: 417px;
    top: 328px;
    width: 250px;
    height: 32px;

    display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }

  .estadistica__numero, .estadistica__porcentaje {
    width: 110px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px; }

  .estadistica__flecha {
    position: relative; }

  .estadistica__flecha:before {
    content: "";
    display: block;
    background-color: transparent;
    border-style: solid;
    border-width: 15px 0px 15px 15px;
    border-color: transparent transparent transparent #2E4B8C; }

  .estadistica__mensaje {
      position: absolute;
      left: 343px;
      top: 364px;
      width: 398px; }

  .estadistica__mensaje p {
    font-size: 20px;
    padding: 4px 0 0;
    margin: 0px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    color: #000; }

  .estadistica__botones {
    }

  .bt, .bt__jugar-de-nuevo {
    position: absolute;
    left: 444px;
    top: 600px;

    display: block;
    width: 204px;
    height: 61px;
    cursor: pointer; }

  .bt__jugar-de-nuevo {
    }

  .bt__jugar-de-nuevo:hover {
      cursor: pointer;
    opacity: .7;}
